# Fichier: docker-compose.yml
version: '3.8'

services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      - NEXT_PUBLIC_API_URL=http://backend-api:8000
    volumes:
      - status_data:/app/public/data # Le frontend lit le rapport ici
    depends_on:
      - backend-api
    dns: [ "8.8.8.8", "1.1.1.1" ]
    restart: unless-stopped

  backend-api:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - api_data:/app # L'API gère la liste des domaines
      - status_data:/app/data # L'API lit le statut
    environment:
      - PYTHONUNBUFFERED=1
    dns: [ "8.8.8.8", "1.1.1.1" ]
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3

  backend-cron:
    build: ./backend
    env_file: [ ".env" ]
    volumes:
      - api_data:/app # Le cron lit la liste des domaines
      - status_data:/app/data # Le cron écrit le rapport de statut
    dns: [ "8.8.8.8", "1.1.1.1" ]
    restart: unless-stopped
    depends_on:
      - backend-api
    environment:
      - PYTHONUNBUFFERED=1
    command: >
      sh -c "while true; do python cron_job.py; sleep 86400; done"

volumes:
  api_data:
  status_data: