version: '3.8'

services:
  frontend:
    build:
      context: ./frontend
    ports:
      - "3005:3000"
    depends_on:
      - backend-api

  backend-api:
    build:
      context: ./backend
    ports:
      - "8000:8000" # Expose le port de l'API
    volumes:
      # On garde un volume pour que la liste des domaines soit persistante
      - api_data:/app

volumes:
  api_data: