# Fichier: docker-compose.yml

services:
  frontend:
    build: ./frontend
    ports:
      - "3005:3000"
    depends_on:
      - backend-api
    # On retire le volume 'status_data', il n'est plus nécessaire
    dns:
      - 8.8.8.8
      - 1.1.1.1

  backend-api:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      # L'API n'a besoin que du volume pour stocker sa liste de domaines
      - api_data:/app
    dns:
      - 8.8.8.8
      - 1.1.1.1

volumes:
  api_data:
# Le volume 'status_data' est supprimé