{
  "smtp": {
    "server": "smtp.office365.com",
    "port": 587,
    "sender_email": "votre-adresse@outlook.com",
    "password": "votre-mot-de-passe-application"
  },
  "alert_recipients": [
    "destinataire1@example.com",
    "destinataire2@example.com"
  ]
}